awscli==1.16.140
botocore==1.12.130
certifi==2016.2.28
colorama==0.3.9
docutils==0.14
flatbuffers==1.12
future==0.18.2
graphviz==0.14.1
jmespath==0.9.4
MNN==1.0.0
numpy==1.18.5
onnx==1.6.0
onnxruntime==1.4.0
opencv-python==4.4.0.42
Pillow==7.2.0
protobuf==3.13.0
pycocotools==2.0
pydot-ng==2.0.0
pyparsing==2.4.7
rsa==3.4.2
s3transfer==0.2.0
scipy==1.5.2
six==1.15.0
tensorboardX==2.1
torch @ file:///home/zhex/package/torch-1.2.0-cp36-cp36m-manylinux1_x86_64.whl
torch2trt-unofficial==0.0.3
torchvision @ file:///home/zhex/package/torchvision-0.4.0-cp36-cp36m-manylinux1_x86_64.whl
tqdm==4.48.2
typing==3.7.4.3
typing-extensions==3.7.4.3
